<!DOCTYPE html>
<html>

<head>
  <title>Try Things!!!</title>
  <link rel="stylesheet" href="/assets/css/app.css" type='text/css'>
  <link rel="stylesheet" href="/assets/css/game.css" type='text/css'>

  <link rel="icon" href="/assets/images/favicon.png" type="image/png">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110689843-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-110689843-1');
  </script>

</head>

<body id='body'>
  <div class='main-container'>
    <header id="header">
      <div class='logo'>
        <img src="/assets/svg/try_things.svg">
        <span class=''>Try Things</span>
      </div>
      <div class='user-profile'>
        <img class='user-profile-image' src='/assets/images/guest.png'>
        <div class='content'>
          <span class='name'></span>
          <span class='profile button'><a href="/login">Log out</a></span>
        </div>
      </div>

      <div id="notification">
        <div class='message'>
        </div>
        <span class='close'>x</span>
      </div>
    </header>
    <div class='heart'>
      <div class='left'>
        <div class='tooltip'>
          <label id='file-upload' class='button'>
          <span>
            <span>Upload memories</span>
            <input type='file' id='upload-input' accept="image/jpeg,image/gif,image/tiff,image/x-png" name='imageFiles'>
          </span>
        </label>
          <div class='tooltip-content'>
            <span class='message'>Tried a thing? Take photos and upload here. </span>
          </div>
        </div>

        <div id='upload-progress' class="progress-bar-outer">
          <div class="progress-bar-inner"></div>
        </div>
        <h3 class='h3'>Your photos</h3>
        <div class='html-container'>
          <div id="state-view" class=""></div>
          <div id="child-state-view" class=""></div>
        </div>
        <div id="user-items" class="images-container"></div>
        <h3 class='h3'>Articles</h3>
        <div id="react-app"></div>
      </div>
      <div class='right'>
        <h3 class='h3'>Things available for trying</h3>
        <div class='things'>
          <ul class='try-things'>
            <li id='recipes'>
              <span>Recipes</span>
            </li>
            <!-- <li id='activities'>
              <state name="activities" url="/activities" templateUrl="assets/views/activities.html">Activities</state>
            </li> -->
            <li>
              <state name="books" url="/books" templateUrl="assets/views/books.html">Books</state>
            </li>
            <li>
              <state name="about" url="/about">About</state>
            </li>
          </ul>
          
          <h3>Let's play</h3>
          <div id='game'></div>

          <div class="modal-overlay">
            <div class='modal'>
              <span class="close">X</span>
              <h4>Coconut Burfi</h4>

              <div class='recipe-ingredients'>
                <img src="/assets/images/coconut_burfi.jpg">
                <span>Ingredients:-</span>
                <ul>
                  <li>1 Full Coconut</li>
                  <li>50gm Vermicelli</li>
                  <li>50ml Soya milk</li>
                  <li>200ml Milkmaid</li>
                  <li>40gm Butter</li>
                  <li>Dry fruits</li>
                  <li>One finely chopped apple (optional)</li>
                  <li>1 table spoon powdered Cardamom</li>
                </ul>
              </div>
              <div class='recipe-steps'>
                <span>Preparation Steps:-</span>
                <ul>
                  <li>
                    Take coconut pieces and grate it using a grater.
                  </li>
                  <li>
                    On a medium flame fry the vermicelli with butter till it turns golden. Put it aside.
                  </li>
                  <li>
                    Fry grated coconut in butter for 2 minutes.
                  </li>
                  <li>Add fried vermicelli, condensed milk. Keep frying on low - medium flame.</li>
                  <li>Add soya milk.</li>
                  <li>
                    Add powdered cardamom, mix it properly. Add apple and dry fruits. Remove from flame in 3 minutes after it becomes dry (water
                    content is evaporated).
                  </li>
                  <li>Take the mixture to a flat plate, decorate with dry fruits.</li>
                  <li>
                    Refrigerate for an hour or two (better over night). Burfi is ready!!! Cut it into small cubes and serve.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script async src="/dist/guest.bundle.js"></script>

    <script async src="/assets/views/books.js"></script>
    <script async src="/assets/views/about.js"></script>

    <footer id="footer">Copy rights Myodisha.xyz</footer>
    <script type="application/javascript">
      (function (window) {
        window.trythings = window.trythings || {};
        window.trythings.currentUser = {displayName: 'Guest User'};
      })(window);
    </script>
  </div>
</body>

</html>