<!DOCTYPE html>

<head>
  <title>Try Things</title>
  <link rel="stylesheet" href="/assets/css/app.css" type='text/css'>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:500">
  <link rel="icon" href="/assets/images/favicon.png" type="image/png">
</head>

<body id='body' class='login'>
  <div class='popup-background'>
    <div class='popup-container'>
      <div class='message'> 
        <img src="../assets/svg/try_things.svg"></img>
        <span>Login to Try Things</span> 
      </div>
      <a id='fb-button-holder' href="/auth/facebook" class='third-party-logo-container'>
        <img src='../assets/images/FB-fLogo-Blue-broadcast-2.png' class='logo'></img>
        <span class='fb-logo-content'>Log In with Facebook</span>
      </a>
      <a href="/auth/google" id="google-button-holder" class='third-party-logo-container'>
        <img src="../assets/svg/btn_google_dark_normal.svg" class='logo'></img>
        <span class='google-logo-content'>Log In with Google</span>
      </a>
      <a href="/guest">Try as a guest!!!</a>
    </div>
  </div>
  <footer id="footer">All rights reserved.</footer>
</body>

</html>