body#body {
  background: #ffffff; 
  color: #111111;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  font-family: verdana,arial,helvetica,sans-serif;
}
body ul li {
  list-style: none;
  margin-bottom: 2px;
}

body.login {
  background: lightgray;  
}
body a {
  text-decoration: none;
}
body .heart {
  margin: 10px;
  display: flex;
}
body .heart .right {
  padding: 32px 0 0 30px;
}

body .heart .right .try-things {
  margin: 0;
  padding: 0;
  border-radius: 3px;
  color: white;
}
body .heart .right .things div.message {
  margin-top: 20px;
}
body .heart .left {
  width: 60%;
}

body .heart .right .try-things li {
  font-size: 16px;
  margin-bottom: 10px;
} 
body .heart .right .try-things li span, 
body .heart li state  {
  color: #004B91;
  cursor: pointer;
  border-bottom: 1px solid #004B91;
}
body .heart .right .try-things li span:hover, 
body .heart li state:hover  {
  color: #E47911;
  border-bottom: 1px solid #E47911;  
}

#body .main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

div.images-container {
  max-width: 660px;
  max-height: 200px;
  overflow: auto;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 25px;
}

header {
  background: #482c4d;
  height: 50px;
  display: flex;
  color: white;
}
header .logo {
  width: 150px;
  margin-left: 10px;
}
header .logo img {
  width: 40px;
}
header .logo span {
  bottom: 15px;
  position: relative;
}

div.images-container img {
  width: 280px;
  border: 5px lightyellow solid;
  margin: 10px;
  border-radius: 5px;
}

body .button {
  cursor: pointer;
  border: lightgray 1px solid;
  padding: 7px;
  background: #f4d078;
  border-radius: 3px;
  color: #111111;
}

body .button:focus {
  outline: none;
}

label#file-upload {
  display: inline-block;
}
label#file-upload input {
  display: none;
}

.third-party-logo-container {
  color: #ffffff;
  border-radius: 3px;
  display: block;
  width: 225px;
  padding: 0 8px 0 8px;
  margin-bottom: 10px;
  height: 38px;
  padding: 0 8px 0 8px;
}

#fb-button-holder, #login-button {
  background-color: #4267B2;
  border: 1px solid #4267B2;
}
#login-button {
  width: unset;
  height: unset;
  padding: 2px;
}
.logo {
  width: 25px;
  margin: 5px;
}
.fb-logo-content {
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
  position: relative;
  bottom: 12px;
  font-family: sans-serif;
}
#google-button-holder {
  background-color: #4285F4;
  border: 1px solid #4285F4;
}
.google-logo-content {
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
  position: relative;
  bottom: 12px;
  font-family: Roboto;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
  background: white;
  height: 20px;
  text-align: center
}

.popup-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 20px;
  left: 0;
  background-color: rgba(36,48,61,0.7);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-container {
  z-index: 11;
  background: white;
  min-height: 300px;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 10px;
  border-radius: 3px;
}

.popup-container .message {
  margin: 60px 0 20px 0;
}

.popup-container .message img {
  width: 50px;
  display: block;
  margin-left: 30%;
  margin-bottom: 20px;
}

.popup-background  {
  background: url('../images/background_low.jpg') no-repeat;
  background-size: 100% 100%;
  /* animation: colorchange 12s 5 ease-in-out; */
}
@keyframes colorchange
{
  0%   { 
    background: url('../images/background_low.jpg') no-repeat;
    background-size: 100% 100%;
  }
  25%  { 
    background: url('../images/background1_low.jpg') no-repeat;
    background-size: 100% 100%;
  }
  50%  { 
    background: url('../images/background2_low.jpg') no-repeat;
    background-size: 100% 100%;
  }
  75%  { 
    background: url('../images/background3_low.jpg') no-repeat;
    background-size: 100% 100%;
  }
  100%   { 
    background: url('../images/background_low.jpg') no-repeat;
    background-size: 100% 100%;
  }
}

.user-profile {
  margin-left: 50%;
  padding: 5px;
}
.user-profile img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.user-profile .content {
  display: none;
  flex-direction: column;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  position: relative;
  left: 0;
  z-index: 2;
  background: white;
  color: #111111;
  padding: 20px;
}
.user-profile:hover .content {
  display: flex;
}
.user-profile:hover .content::after {
  top: -10px;
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom-color: white;
  border-top: 0;
}
#user-items {
  min-height: 50px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
}
#user-items .item {
  margin-right: 10px;
}
#user-items .item img {
  border: 5px lightyellow solid;
  width: 300px;
  height: auto;
}

#upload-progress.progress-bar-outer {
  background: lightgray;
  height: 22px;
  border-radius: 3px;
  width: 150px;
  margin: 5px 0 0 5px;
  position: absolute;
  display: none;
}
#upload-progress .progress-bar-inner {
  background: green;
  height: 20px;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  padding-top: 2px;
}
#upload-progress.progress-bar-outer.show {
  display: inline-block;
}
.h3 {
  margin: 10px 0;
  color: #E47911;
}
#notification {
  position: absolute;
  top: 10px;
  width: 100%;
  padding: 6px;
  background: orange;
  display: none;
  text-align: center;
  color: white;
  min-height: 15px;
}
#notification .message {
  width: 95%;
}
#notification.error {
  background: #EE5656;
}
#notification.warning {
  background: #F5AC2F;
}
#notification.success {
  background: #319C31;
}
#notification.show {
  display: flex;
}
#notification .close {
  cursor: pointer;
  margin-left: 5px;
  padding: 5px 8px;
  position: absolute;
  right: 20px;
  top: 0px;
  border-radius: 50px;
  line-height: normal;
  width: auto;
}
.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 99999;
	opacity:0;
	transition: opacity 200ms ease-in;
	pointer-events: none;
}
.modal-overlay.show {
	opacity:1;
	pointer-events: auto;
}
.modal-overlay .modal {
  display: flex;
  flex-direction: column;
  width: 50%;
	position: relative;
	margin: 10% auto;
	padding: 20px;
	border-radius: 10px;
	background: white;
}

.close {
  cursor: pointer;
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
  background: #532f5a;
}
.recipe-ingredients {
  font-family: cursive;
}
.recipe-ingredients img {
    width: 300px;
    position: absolute;
    left: 200px;
    border-radius: 50%;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip:hover .tooltip-content {
  pointer-events: auto;
	opacity: 1;
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);    
}
.tooltip-content {
	position: absolute;
  padding: 5px 10px;
	border-radius: 3px;
	background: white;
	opacity: 0;
	cursor: default;
  pointer-events: none;
  top: 40px;
  white-space: nowrap;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.tooltip-content::after {
  top: -20px;
  left: 20px;
	content: '';
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 10px;
}
.html-container {
  display: flex;
}
#state-view {
  margin-right: 20%;
}

/*Editor CSS */

.document-editor {
  border: 1px solid var(--ck-color-base-border);
  border-radius: var(--ck-border-radius);

  /* Set vertical boundaries for the document editor. */
  max-height: 700px;

  /* This element is a flex container for easier rendering. */
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

  .document-editor__toolbar {
  /* Make sure the toolbar container is always above the editable. */
  z-index: 1;

  /* Create the illusion of the toolbar floating over the editable. */
  box-shadow: 0 0 5px hsla( 0,0%,0%,.2 );

  /* Use the CKEditor CSS variables to keep the UI consistent. */
  border-bottom: 1px solid var(--ck-color-toolbar-border);
 }

/* Adjust the look of the toolbar inside the container. */
.document-editor__toolbar .ck-toolbar {
  border: 0;
  border-radius: 0;
}


/* Make the editable container look like the inside of a native word processor application. */
.document-editor__editable-container {
  padding: calc( 2 * var(--ck-spacing-large) );
  background: var(--ck-color-base-foreground);

  /* Make it possible to scroll the "page" of the edited content. */
  overflow-y: scroll;
}

.document-editor__editable-container .ck-editor__editable {
  /* Set the dimensions of the "page". */
  width: 15.8cm;
  min-height: 21cm;

  /* Keep the "page" off the boundaries of the container. */
  padding: 1cm 2cm 2cm;

  border: 1px hsl( 0,0%,82.7% ) solid;
  border-radius: var(--ck-border-radius);
  background: white;

  /* The "page" should cast a slight shadow (3D illusion). */
  box-shadow: 0 0 5px hsla( 0,0%,0%,.1 );

  /* Center the "page". */
  margin: 0 auto;
}

/* Set the default font for the "page" of the content. */
.document-editor .ck-content,
.document-editor .ck-heading-dropdown .ck-list {
  font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Adjust the headings dropdown to host some larger heading styles. */
.document-editor .ck-heading-dropdown .ck-dropdown__panel .ck-list > .ck-list__item {
  line-height: calc( 1.2 * var(--ck-line-height-base) * var(--ck-font-size-base) );
  min-width: 8em;
}

/* Set the styles for "Heading 1". */
.document-editor .ck-content h2,
.document-editor .ck-heading-dropdown .ck-heading_heading1 {
  font-size: 2.18em;
}

.document-editor .ck-content h2 {
  line-height: 1.37em;
  padding-top: .342em;
  margin-bottom: .142em;
}

/* Set the styles for "Heading 2". */
.document-editor .ck-content h3,
.document-editor .ck-heading-dropdown .ck-heading_heading2 {
  font-size: 1.75em;
  color: hsl( 203, 100%, 50% );
}

.document-editor .ck-heading-dropdown .ck-heading_heading2.ck-list__item_active {
  color: var(--ck-color-list-item-text-active);
}

/* Set the styles for "Heading 2". */
.document-editor .ck-content h3 {
  line-height: 1.86em;
  padding-top: .171em;
  margin-bottom: .357em;
}

/* Set the styles for "Heading 3". */
.document-editor .ck-content h4,
.document-editor .ck-heading-dropdown .ck-heading_heading3 {
  font-size: 1.31em;
}

.document-editor .ck-content h4 {
  line-height: 1.24em;
  padding-top: .286em;
  margin-bottom: .952em;
}

/* Set the styles for "Paragraph". */
.document-editor .ck-content p,
.document-editor .ck-heading-dropdown .ck-heading_paragraph {
  font-size: 1em;
}

.document-editor .ck-content p {
  line-height: 1.63em;
  padding-top: .5em;
  margin-bottom: 1.13em;
}

/* Make the block quoted text serif with some additional spacing. */
.document-editor .ck-content blockquote {
  font-family: Georgia, serif;
  margin-left: calc( 2 * var(--ck-spacing-large) );
  margin-right: calc( 2 * var(--ck-spacing-large) );
}

/*article editor*/ 
.document-editor .edit {
  display: none;
}
.document-editor:hover .edit {
  display: block;
}

.article .document-editor {
  border: none;
  max-height: unset;
}

.article .document-editor__editable-container {
  height: auto;
  padding: 0;
}

.article .document-editor__editable-container .ck-editor__editable {
  width: auto;
  min-height: unset;
}

/*Editor in modal */
.modal-document-container .ck.ck-toolbar {
  justify-content: center;
}