body#body {
  /* background: #BE7DE8; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  font-family: sans-serif;
}
body ul li {
  list-style: none;
  margin-bottom: 2px;
}

body.login {
  background: lightgray;  
}
body a {
  text-decoration: none;
}
body .heart {
  margin: 10px;
  display: flex;
}
body .heart .right {
  padding: 32px 0 0 30px;
}

body .heart .right .try-things {
  margin: 10px 0;
  border: 1px solid lightgray;
  background: #F77E4E;
  border-radius: 3px;
  padding: 10px;
  min-height: 380px;
}

body .heart .right .try-things li {
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}
#body .main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

div.images-container {
  max-width: 660px;
  max-height: 200px;
  overflow: auto;
  background: lightblue;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 25px;
}

header {
  background: rgba(0, 0, 0, 0.85);
  height: 70px;
  padding: 10px 0 0 0;
  display: flex;
  color: white;
}
header .logo {
  width: 150px;
  margin-left: 10px;
}
header .logo img {
  width: 50px;
}
header .logo span {
  bottom: 15px;
  position: relative;
}

div.images-container img {
  width: 280px;
  border: 5px lightyellow solid;
  margin: 10px;
  border-radius: 5px;
}

body .button {
  cursor: pointer;
  border: lightgray 1px solid;
  padding: 7px;
  background: lightblue;
  border-radius: 3px;
  color: rgb(26, 25, 24);
}

label#file-upload {
  display: inline-block;
}
label#file-upload input {
  display: none;
}

.third-party-logo-container {
  color: #ffffff;
  border-radius: 3px;
  display: block;
  width: 225px;
  padding: 0 8px 0 8px;
  margin-bottom: 10px;
  height: 38px;
  padding: 0 8px 0 8px;
}

#fb-button-holder {
  background-color: #4267B2;
  border: 1px solid #4267B2;
}
.logo {
  width: 25px;
  margin: 5px;
}
.fb-logo-content {
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
  position: relative;
  bottom: 12px;
  font-family: sans-serif;
}
#google-button-holder {
  background-color: #4285F4;
  border: 1px solid #4285F4;
}
.google-logo-content {
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
  position: relative;
  bottom: 12px;
  font-family: Roboto;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
  background: white;
  height: 20px;
  text-align: center
}

.popup-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 20px;
  left: 0;
  background-color: rgba(36,48,61,0.7);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-container {
  z-index: 11;
  background: white;
  min-height: 300px;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 10px;
  border-radius: 3px;
}

.popup-container .message {
  margin: 60px 0 20px 0;
}

.popup-container .message img {
  width: 50px;
  display: block;
  margin-left: 30%;
  margin-bottom: 20px;
}

.popup-background  {
  background: url('../images/background_low.jpg') no-repeat;
  background-size: 100% 100%;
  animation: colorchange 12s 5 ease-in-out;
}
@keyframes colorchange
{
  0%   { 
    background: url('../images/background_low.jpg') no-repeat;
    background-size: 100% 100%;
  }
  25%  { 
    background: url('../images/background1_low.jpg') no-repeat;
    background-size: 100% 100%;
  }
  50%  { 
    background: url('../images/background2_low.jpg') no-repeat;
    background-size: 100% 100%;
  }
  75%  { 
    background: url('../images/background3_low.jpg') no-repeat;
    background-size: 100% 100%;
  }
  100%   { 
    background: url('../images/background_low.jpg') no-repeat;
    background-size: 100% 100%;
  }
}

.user-profile {
  margin-left: 60%;
  padding: 5px;
}
.user-profile img {
  border-radius: 50%;
  cursor: pointer;
}
.user-profile .content {
  display: none;
  flex-direction: column;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  position: relative;
  left: 0;
  z-index: 2;
  background-color: white;
  color: #577390;
  padding: 20px;
}
.user-profile.show .content {
  display: flex;
}
.user-profile.show .content::after {
  top: -10px;
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom-color: white;
  border-top: 0;
}
#user-items {
  min-height: 50px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
}
#user-items .item {
  margin-right: 10px;
}
#user-items .item img {
  border: 5px lightyellow solid;
  width: 300px;
  height: auto;
}

#upload-progress.progress-bar-outer {
  background: lightgray;
  height: 22px;
  border-radius: 3px;
  width: 150px;
  margin: 5px 0 0 5px;
  position: absolute;
  display: none;
}
#upload-progress .progress-bar-inner {
  background: green;
  height: 20px;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  padding-top: 2px;
}
#upload-progress.progress-bar-outer.show {
  display: inline-block;
}
.h3 {
  margin: 10px 0;
}
#notification {
  position: absolute;
  top: 23px;
  width: 100%;
  padding: 5px;
  background: orange;
  display: none;
  text-align: center;
  color: white;
}
#notification .message {
  width: 95%;
}
#notification.error {
  background: #E73737;
}
#notification.warning {
  background: #F5AC2F;
}
#notification.success {
  background: #319C31;
}
#notification.show {
  display: flex;
}
#notification .close {
  cursor: pointer;
  margin-left: 5px;
  padding: 2px 10px;
}
.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 99999;
	opacity:0;
	transition: opacity 200ms ease-in;
	pointer-events: none;
}
.modal-overlay.show {
	opacity:1;
	pointer-events: auto;
}
.modal-overlay .modal {
  display: flex;
  flex-direction: column;
  width: 50%;
	position: relative;
	margin: 10% auto;
	padding: 20px;
	border-radius: 10px;
	background: white;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
  background: lightblue
}
.recipe-ingredients {
  font-family: cursive;
}
.recipe-ingredients img {
    width: 300px;
    position: absolute;
    left: 200px;
    border-radius: 50%;
}
